button {
all: unset;
cursor: pointer;
color: var(--always-white);
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.375rem;
  height: 2.75rem;
  line-height: 2.75rem;
  border-radius: 0.75rem;
  background-color: var(--color-brand);
  overflow: hidden;
  
  &:hover {
    background-color: var(--color-brand-hover);
  }
}

.text-field {
  border: 1px solid var(--border-primary);

  &:hover {
    border: 1px solid var(--border-hover);
  }
}

.checkbox {
  transition: fill 0.3s ease;

  &:hover{
  stroke: var(--color-brand-hover);
  }
  &:active {
  fill: var(--color-brand);  
  stroke: var(--color-brand);
  }
}

.item-remove  {
  display: flex;
  width: 20.435rem;
  height: 2.75rem;
  background-color: var(--color-danger);
  color: var(--always-white);
  border-radius: 0.75rem;
  align-items: center;
  margin-top: 0.75rem;
  padding-left: 0.75rem;
  gap: .5rem;  

  & span {
  color: var(--always-white);
}
}

.display-none{
  display: none;
}

.display-block{
  display: flex;
}



@media (min-width: 80rem) {

.btn{
  width: 10rem;
  height: 2.75rem;
  background-color: var(--color-brand);

  &:hover {
    background-color: var(--color-brand-hover);
  }
}

.item-remove{
  width: 39.2rem;
}


}