header {
  padding-top: 1.5625rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.875rem;
}


@media (min-width: 80rem) {

  header {
    display: inline;
    width: 40rem;
    align-items: center;
    justify-items: center;
  }

}