.title {
  border: 1px solid gold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-item {
display: flex;
gap: 1rem;
margin-top: 2.75rem;
align-items: center;
}

input{
  width: 28.2rem;
  height: 2.75rem;
  border: 1px solid var(--border-primary);
  border-radius: 0.75rem;
}