.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-item {
display: flex;
flex-direction: column;
width: 20.375rem;
gap: 1rem;
margin-top: 2.75rem;
align-items: center;
justify-content: center;

}

input{
  outline: none;
  width: 20.375rem;
  height: 2.75rem;
  border: 1px solid var(--border-primary);
  border-radius: 0.75rem;
  padding: 1.125rem;
  color: var(--content-primary);

   &:hover {
    border: 1px solid var(--border-hover);
  }
  &:focus {
    border: 1px solid var(--color-brand);
  }
}
.list-container{
  margin-top: 2.5rem;
  max-height: 45vh; 
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;

  & .list-container::-webkit-scrollbar {
  width: 6px;
}
& .list-container::-webkit-scrollbar-thumb {
  background-color: var(--border-primary);
  border-radius: 4px;
}


}

#list {
display: flex;
flex-direction: column;
gap: 0.75rem;
margin: 0;
padding: 0;
list-style: none;


}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  width: 20.44rem;
  height: 3.56rem;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 0.75rem;
}
.check-item-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (min-width: 80rem) {

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-item {
display: flex;
flex-direction:row;
width: 39.1875rem;
gap: 1rem;
margin-top: 2.75rem;
align-items: center;
}

input{
  width: 28.2rem;
  height: 2.75rem;
  border: 1px solid var(--border-primary);
  border-radius: 0.75rem;

  &:hover {
    border: 1px solid var(--border-hover);
  }
  &:focus {
    border: 1px solid var(--color-brand);
  }
}
.item-list {
  margin-inline: auto;
  padding: 0.75rem;
  width: 39.1875rem;
  height: 3.0625rem;
}

  
}